html, body {
	font-family: 'Helvetica Neue 55 Roman', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, Arial;	
	font-size: 12px;
	/* position: relative; */
	color: #222;
	
	height:100%;
	width:100%;
	padding: 0;
	margin:0;	
}

.color_01{	
	background-color:#ff7a4d;	
}
.color_02{	
	background-color:#33b7ff;	
}
.color_03{	
	background-color:#ba73ff;	
}
.color_04{	
	background-color:#e97093;	
}
.color_05{	
	background-color:#027fff;	
}
.color_06{	
	background-color:#ffbb34;	
}
.color_07{	
	background-color:#92d050;	
}
.color_08{
	background-color:#ff0000;
}
.color_red{
	background-color:#b73b25;
}
h1 {
	font-size: 40px;
}

h2 {
	font-size: 26px;
}

div.error {
	color: red;
	front-size: 8pt;
}
footer{
	background-color: #333;
	height: 80px;
	position:absolute;
	bottom:0;
	width:100%;
}
button {
	width:auto;
    min-width:80px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:2px solid #eee;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius:15px;
    color:#3395d4;
    margin-bottom:5px;
    cursor:pointer;
    position:relative;
    font-weight:bold;
}
button[disabled] {
}
button:hover{
}
button:active{
}

.btnDefault{	

    cursor:pointer;
    height: 60px;
    color:#ddd;
    min-width:80px;
    text-align:center;
    width: auto;
	margin:0 auto;
	background-color:#009aee;
	border:1px solid #007dc1;
	text-align: center;
	font-size: 16px;
	color: white;
	border-radius:5px;
	-moz-border-radius: 5px; 
    -o-border-radius: 5px;
    -ms-border-radius:5px;
    -webkit-border-radius: 5px; 
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    
    -webkit-transition:background-color .25s ease-in-out;
	-moz-transition:background-color .25s ease-in-out;
	-o-transition:background-color .25s ease-in-out;
	transition:background-color .25s ease-in-out;
}


#phoneHeader .topButton.pad, #phoneHeader .topButton.phone {
	min-width:60px;
}

.btnDefault:hover
{
     border-color:#00659c;
     filter: alpha(opacity=100);
    -moz-opacity:1.0;
    opacity: 1.0;
}
.btnDefault:active
{
	border-color:#00659c;
    background:#00659c;
}
.btnDefault:disabled{
	filter: alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    cursor: default;
}

.btn
{
    width:auto;
    min-width:50px;
    height:40px;
    line-height:40px;
    text-align:center;
    border:2px solid #eee;
    -moz-border-radius: 22px; 
    -o-border-radius: 22px;
    -ms-border-radius: 22px;
    -webkit-border-radius: 22px; 
    border-radius:22px;
    color:#3395d4;
    margin:5px 5px 0 0;
    cursor:pointer;
    position:relative;
    font-weight:bold;
    background:#fff;
    display:inline-block;
    margin-right:0;
    padding:0 5px;
}
.btn:hover
{
	background:#f4f4f4;
}
.btn:active
{
    border-color:#ddd;
}
.btnDark{
	color:#ddd;
	border-color:#666;
}
.btnDark:hover{
	border-color:#888;
}
.biggerBtnSize{	
	min-width:100px;
	height:36px;
    line-height:32px;
}
select{
	height:39px;
	border:1px solid #aaa;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px;
	-ms-broder-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius:5px;
    background-color:#f7f7f7;
    font-size:16px;
}
select:hover,select:focus,select:active{
	border:1px solid #038d03;
	background:#fff;
	-moz-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-o-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-ms-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
}

/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
form div{position:relative;} 

/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
		position:relative;
		z-index:10;
		width: 98% !important;
		height:40px !important;
		line-height:40px;    
	border:1px solid #aaa;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px;
	-ms-broder-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius:5px;
    background-color:#f7f7f7;
    font-size:16px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:96%;
	height:36px;
	line-height:36px;
	text-indent:4px;
	
	border:1px solid #aaa;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px;
	-ms-broder-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius:5px;
    background:#f7f7f7 url('../image/textboxArrow.png') 96% 12px no-repeat;	
    font-size:16px;
    
	cursor:default;
	z-index:1;
	}	
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"], 
input[type="range"]{	
	border:1px solid #aaa;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius:5px;
    background-color:#f7f7f7;
	font-size:16px;
}
input[type="text"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="search"]:active, 
input[type="range"]:active,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="search"]:hover, 
input[type="range"]:hover,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus, 
input[type="range"]:focus{	
	border:1px solid #038d03;
	-moz-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-o-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-ms-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    background-color:#fff;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:32px;
    height:32px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    
    cursor:pointer;
    border:1px solid #aaa;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius:5px;
    background-color:#f7f7f7;
}
input[type="checkbox"] + label span:active, input[type="checkbox"] + label span:hover{
    border:1px solid #038d03;
	-moz-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-o-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-ms-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    background-color:#fff;
}
input[type="checkbox"]:checked + label span {
    background:url('../image/checked.png') left top no-repeat;
}
.errorStatus{
	-moz-box-shadow: 0 0 5px red;
	-o-box-shadow: 0 0 5px red;
	-ms-box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}
.errorInfo{
	
	
	color: #b73b25;
	border:1px solid #b73b25;
	font-size: 16px;
	width: auto;	 
	padding:13px;
	padding-left:26px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	position:relative;
	background:#fff url('../image/warning.png') 5px center no-repeat;
}
.errorInfoArrow{
	position:absolute;
	top:-11px;
	left:30px;
	background:url('../image/errorInfoArrow.png') center center no-repeat;
	width:20px;
	height:11px;
	z-index:1;
}

/* Page layout*/
#page{
	    background:url("../image/bottom_bg.jpg") center top no-repeat;
	    background-size:cover;
	    
	    position: relative;
		min-height: 100%;
	}
#pageContainer {
	z-index: 1;
	margin: 0px auto;
    min-height:400px;
    margin-top: 20px;
    
    padding-bottom: 80px;
}


/* Page header style */
.headerContainer
{
	z-index: 2;
	background:#fff;
}
.header 
{
    height: 100px;	
    line-height: 100%;
	padding:20px 0;
	margin:0 auto;
	width:1000px;
}
#headerLogo{	
	float: left;
	width: 100px;
	height: 100px;
	margin:0 50px 0 20px;
	-moz-border-radius: 50px; 
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
    -webkit-border-radius: 50px; 
    border-radius:50px;
}
#solutionCenterLogo
{
    height:100px;
    width:100px;
	background: url('../image/SolutionCenterLogo.png') center center no-repeat;
	background-size: 60px 60px;
}
#headerTitle
{
    float:left;
	font-size: 24px;
	font-weight: bold;	
	cursor:pointer;
	height: 100px;
    line-height: 100px;
	vertical-align: middle;
	color: grey;
}
 
#anywhere
{
	color: #33b7ff;
}
#region-area {
	float: right;
	margin-right: 20px;
	height: 100%;
	position: relative;
	color: black;
}

#language-panel{	
	line-height:100px;
}
.language-option{
	height: 40px;
	line-height: 40px;
	cursor:pointer;
	display: inline-block;
	text-align: center;
}
.language-selected{
	border-top:2px solid #33b7ff;
	color: #33b7ff;
}
.language-option a:hover,
.language-option a:active{
	text-decoration: underline;
}

#language-en{
	width: 50px;
}
#language-zh{
	width: 50px;
}
#line-separator{
	height: 18px;
	margin:0 auto;
	width:100%;
	background: url('../image/headerShadow.png') center top no-repeat;
	background-size:cover;
	border-top:1px solid #aaa;
}
#phoneHeader{
    display:none;        
    position:fixed;
    top:0;
    width:100%;        
    z-index:1000;
    position: static;
    background:#fff;
}
#phoneHeader .topButton{
	font-size: 14px;
	min-width: 80px;
	width:auto;
	height: 40px;
	color: white;
}
#backHome{
	float: left;
	margin:10px 5px 10px 10px;
}
#backHome .topButton{
	background-image: url("../image/back_icon.png");
	background-position:center center;
	background-repeat:no-repeat;
}	
#title{
	 text-align: center;
	 font-size: 24px;
	 line-height: 60px;    	 
	 height: 60px;
	 
}
#submit, #next{
	float: right;	
	margin: 10px 10px 10px 5px;
} 
/* form style */
#form-panel{	
	width:94%;
    max-width:400px;
	height: auto;
	margin:20px auto;	
	padding:20px 0;
	border: 1px solid #aaa;
background-color: #fff;
filter: alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;
border-top: 4px solid #009aee;
}

#loginForm,#trialForm,#resetForm,#ResetForm {
	margin: 20px 20px 0px 20px;	
	position:relative;
}

#form-panel .commitDiv{
	width: 80%;
	height: 50px;
	margin: 0 auto;
}
#form-panel .commitDiv button{
	width: 100%;
	height: 100%;
	color: white;
}


#footer{
	width:1000px;
	margin: 0 auto;	
	line-height: 80px;
	height: 50px;	
	color: white;
}
#left-footer{
	float: left;	
	padding-left: 80px;
	background-image: url("../image/SAP_Logo_small.png");
	background-repeat: no-repeat;
	background-position: 10px center;	
}
#right-footer{
	float: right;
	width: 100px;
	background: url("../image/social_media_icon.png") right center no-repeat;
}
 .link
{
    display:block;	
}
.link>a{
	color:#222;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	margin-right:20px;
	cursor: pointer;
}
#linkContainer{
	max-width: 400px;
	width: 100%; 
	margin:0 auto;
}

#linkContainer.phone, #linkContainer.pad{
	width: 94%;
}

.link>a{
	float:left;	
	padding-left: 40px;
	background: url("../image/left_arrow.png") left center no-repeat;	
	background-size: 32px 32px;
	filter: alpha(opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
    text-shadow: 0px -1px 0px rgba(255,255,255,0.5);
}
.link>a:hover, .link>a:active{
	filter: alpha(opacity=100);
    -moz-opacity:1.0;
    opacity: 1.0;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
}
#linkContainer>.link{
    height:50px;
    line-height: 50px;
}


#subTitle{	
	text-align: center;
	width: 100%;
	height: 30px;
}

#subTitle strong{
	color:#808080;
}


.emptyDiv_five {
	height: 5px;
}

.emptyDiv_ten {
	height: 10px;
}

.emptyDiv_twenty {
	height: 20px;
}

.emptyDiv_fifth {
	height: 50px;
}

.textBox {
	height: 40px;
	width: 100%;
	padding: 0px 0px 0px 5px;
	font-size: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.titlePanel {	
	height: 40px;
	line-height: 40px;
	margin-bottom:20px;
	width: 100%;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}

.placeholder { color: #aaa; }


input.validateError {
	border: 1px solid red;
}

.hidden {
	display: none;
}

#linkwrap{
	margin-right:15px;	
	position: relative;	
	top: 90%;
	text-align: right;
}
#linkwrap >div{
	display:block;
	line-height:25px;	
}

.labelDiv{
	width: 100%;
	height:40px;
	line-height:40px;
	font-size:14px;
    position:relative;
}

.labelDiv label{
	width: 150px;	
	float:left;
}

.labelDiv input{
	width:100%;	
}
.labelDiv span{
    position:absolute;
    bottom:0;
    padding: 2px;
}

.labelDiv .select_style{
	width:98%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height:40px;
	overflow:hidden; 
	border:1px solid #aaa;
	-moz-border-radius: 5px; 
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
    -webkit-border-radius: 5px; 
    border-radius:5px;
    background:#f7f7f7 url('../image/textboxArrow.png') 96% 12px no-repeat;	
}
.labelDiv .select_style:active, .labelDiv .select_style:hover{
	border:1px solid #038d03;
	-moz-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-ms-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
	-o-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
    box-shadow: 0 0 4px rgba(189, 219, 97, 0.5);
}
.labelDiv .select_style select { 
	padding:5px; 
	background:transparent; 
	width:108%; 
	font-size: 16px; 
	border:none; 
	height:39px;
	-webkit-appearance: none; /*for Webkit browsers*/
	
}

.green-check
{
	height: 30px;
	width: 16px;
	background: url('../image/green_check.png') center center no-repeat;
}
.contentDiv{	
	height:32px;
	line-height:32px;
	height:auto;
}



.fieldErrorInfo{
	color:#222;	
	width: 327px;
	position:absolute;
	background:#fff url('../image/warning.png') 5px center no-repeat;
	border:1px solid #aaa;
	z-index:2;
	min-height:24px;
	line-height:24px;
	padding:0 5px 0 25px;
}


/* @media screen and (min-width:960px) {	 */
	#pageContainer.pad, #pageContainer.phone {
		max-width: 1000px;
	
	}	
	
	#phoneFooter.pad, #phoneFooter.phone{
		display:none;
	}
/* } */


/* @media screen and (max-width:1024px) and (min-width: 481px) 
{ */
	#page.pad{
	    background:url("../image/bottom_bg.jpg") center top no-repeat;
	    background-size:cover;
	}
	#headerLogo.pad, #headerLogo.phone{
		display: block;
		float: none;
		margin: 0 auto;
	}
	#region-area.pad, #region-area.phone{
		display: none;
	}	

	
	#headerTitle.pad, #headerTitle.phone
	{
	    float:none;
	    font-size:24px;
	    width:80%;
	    height:auto;
	    line-height:30px;
	    margin-left:20px;
	    color:#303030;
	}	
	#phoneHeader.pad, #phoneHeader.phone{
		display: block;
	}
	#pageContainer.pad 
	{
	    height:auto;
	}	
	/* form style */
	#form-panel.pad, #form-panel.pad {
    margin-bottom: 10px;
    padding-top: 20px;
    }
	#form-panel .commitDiv.pad, #form-panel .commitDiv.phone{
		display: none;
	}
	#subTitle.pad, #subTitle.phone{	    	
	    display: none;
	}
    .titlePanel.pad, .titlePanel.phone
    {
        display: none;
    }	
    .contentDiv.pad, .contentDiv.phone
    {
        margin:0 auto;
    }
    .biggerBtnSize.pad, .biggerBtnSize.phone{
        width:100%;
    }
    .labelDiv label.pad, .labelDiv label.phone{
    	width:100%;
    	float:none;
    }    
    
    .labelDiv .select_style.pad, .labelDiv .select_style.phone{
        width:98%;             
    }
    .errorInfo.pad, .errorInfo.phone{
		margin:5px 0px 0px 0px;
	}
	
	/* bottom and footer style */
	footer.pad, footer.phone{
		display: none;
	}
	#sap-log-panel.pad, #sap-log-panel.phone{
		/* z-index: 1; */
		width: 100%;
		height: 60px;
		background-image: url("../image/SAP_Logo_small.png");
		background-position:20px 50%;
		background-repeat: no-repeat;	
		position: fixed;
		bottom: 0;
	}  
	#bottom-bg.pad, #bottom-bg.phone{
		border: none;
		z-index: -1;
		display: block;
		position: fixed;
		bottom:0;
		height: 100%;
		background-size: 100%;
		background-position: 0 100%;
	}
	
	
#page.phone{
	    background:url("../image/bottom_bg_phone.jpg") center top no-repeat;	    
	}	
	



