@import url(common.css);

#emailInfo{	
	color:#222;
	margin-top: 5px;
}
#captchaImage{
	height: 50px;
	width: 98%;
}

#linkContainer.pad{
	display: none;
}


#form-panel.phone{
	width: 100%;
}

#ResetForm.phone {
	margin-top: 0px;
}