/*Const Variant*/
/*button property*/
.cssColorBlue {
  color: #009be3;
}
.pageBackgroundImg {
  background: url("../image/new/indexBkg.png") bottom center repeat-x;
  background-attachment: fixed;
}
/*head*/.commonHeader {
  display: block;
  background-color: #F2F2F2;
  height: 48px;
  width: 100%;
  position: absolute;
  border-top: 5px solid #009de0;
}
.commonHeader.desktop {
  min-width: 1024px;
}
.commonHeader .cssTitle {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
}
.commonHeader .cssTitle span {
  color: #33b7ff;
}
.commonHeader.phone {
  height: 40px;
  border-top-width: 2px;
}
.commonHeader.phone .cssTitle {
  height: 40px;
  line-height: 40px;
}
html {
  height: 100%;
}
body {
  background: url("../image/new/indexBkg.png") bottom center repeat-x;
  background-attachment: fixed;
  position: relative;
  min-height: 100%;
  margin: 0 0;
  font-family: Arial;
}
div.cssFooter {
  background-color: black;
  height: 48px;
  width: 100%;
  min-width: 1024px;
  position: absolute;
  bottom: 0px;
}
div.cssFooter.pad,
div.cssFooter.phone {
  display: none;
}
div.cssFooter > div {
  width: 1024px;
  margin: 0 auto;
}
div.cssFooter > div .cssSAPLogo.desktop {
  background: url("../image/new/common_sap_logo.png") center center no-repeat;
  width: 50px;
  height: 25px;
  float: left;
  position: relative;
  margin-top: 10px;
}
div.cssFooter > div .cssSAPFooterText {
  color: #ffffff;
  float: left;
  line-height: 48px;
}
div.cssPadPhoneFooter {
  display: none;
}
div.cssPadPhoneFooter.phone,
div.cssPadPhoneFooter.pad {
  display: block;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 20px;
}
div.cssPadPhoneFooter.phone.phone,
div.cssPadPhoneFooter.pad.phone {
  bottom: 10px;
  right: 9%;
  left: 9%;
}
div.cssPadPhoneFooter.phone.pad,
div.cssPadPhoneFooter.pad.pad {
  background-color: black;
  width: 100%;
  height: 48px;
}
div.cssPadPhoneFooter.phone .cssPadPhoneFooter-Button,
div.cssPadPhoneFooter.pad .cssPadPhoneFooter-Button {
  height: 100%;
}
div.cssPadPhoneFooter.phone .cssPadPhoneFooter-Button.disabled:hover,
div.cssPadPhoneFooter.pad .cssPadPhoneFooter-Button.disabled:hover {
  cursor: grey;
}
div.cssPadPhoneFooter.phone .cssPadPhoneFooter-Button.phone,
div.cssPadPhoneFooter.pad .cssPadPhoneFooter-Button.phone {
  border-left: 0px;
  background-color: #009be3;
  width: 100%;
}
div.cssPadPhoneFooter.phone .cssPadPhoneFooter-Button.phone.disabled,
div.cssPadPhoneFooter.pad .cssPadPhoneFooter-Button.phone.disabled {
  color: #777777;
  background-color: #bbbbbb;
}
div.cssPadPhoneFooter.phone .cssPadPhoneFooter-Button.disabled:hover,
div.cssPadPhoneFooter.pad .cssPadPhoneFooter-Button.disabled:hover {
  cursor: default;
}
div.cssPadPhoneFooter.phone .cssPadPhoneFooter-Button:hover,
div.cssPadPhoneFooter.pad .cssPadPhoneFooter-Button:hover {
  cursor: pointer;
}
/*for sap anywhere title*/
/*utilities*/
.CenterHorizon {
  margin: "0 auto";
}
.cssHidden {
  display: none;
}
/*field errors */
div.errorInfo {
  color: #b73b25;
  border: 1px solid #b73b25;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 20px;
  width: 77%;
  padding: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  top: 10px;
  background-color: white;
}
div.errorInfo span.errorInfoArrow {
  position: absolute;
  top: -11px;
  left: 30px;
  background: url('../image/new/common-errorInfoArrow.png') center center no-repeat;
  width: 20px;
  height: 11px;
  z-index: 1;
}
.errorStatus {
  -moz-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}
/*images*/
.ImgCommonRightArrow2 {
  background-color: #007cc0;
}
.ImgCommonRightArrow2:before {
  content: url("../image/new/common-rightArrow2.png");
  left: 50px;
  top: 7px;
}
.ImgCommonRightArrow2.disabled {
  color: white;
  background-color: #bbbbbb;
}
/*move from old project*/
.green-check {
  height: 30px;
  width: 16px;
  background: url('../image/new/green_check.png') center center no-repeat;
  position: absolute;
  top: 5px;
  right: 10px;
  background-size: contain;
}
#_preloader_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: block;
  background-color: rgba(17, 17, 17, 0.51);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
#_preloader_container > .loading {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
  background: none;
  border: 5px solid #33b7ff;
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
body.desktop {
  background: none;
}
body.pad,
body.phone {
  height: 100%;
}
.cssB1Header {
  position: relative;
  padding: 20px 0px;
}
.cssB1Header.pad,
.cssB1Header.phone {
  display: none;
}
.cssB1Header > div.cssB1HeaderLogo {
  overflow: hidden;
  width: 60px;
  float: left;
}
.cssB1Header > div.cssB1HeaderLogo > div.desktop {
  background: url("../image/new/common-B1AnywhereLogo.png") center center no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}
.cssB1Header > div.cssB1HeaderTitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  position: relative;
  left: 20px;
  color: grey;
}
.cssB1Header > div.cssB1HeaderTitle span {
  color: #00acf0;
}
.cssB1Header > div.cssLanguage-panel {
  color: black;
  position: relative;
  top: -40px;
  text-align: center;
}
.cssB1Header > div.cssLanguage-panel > div.language-option {
  float: right;
  width: 60px;
  margin-left: 40px;
  text-align: center;
  padding-top: 5px;
  color: #009be3;
  cursor: pointer;
  border-top: 2px solid rgba(0, 155, 227, 0);
}
.cssB1Header > div.cssLanguage-panel > div.language-option.selected {
  border-top: 2px solid #009be3;
}
/*page*/
.cssPage {
  padding-bottom: 58px;
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
  min-width: 1024px;
  /*head*/

}
.cssPage > .cssheader {
  display: none;
}
.cssPage.pad,
.cssPage.phone {
  height: 100%;
  padding-bottom: 0;
}
.cssPage > div.cssActionContent {
  width: 100%;
  min-width: 93px;
  min-height: 260px;
}
.cssPage > div.cssActionContent.desktop {
  background: url("../image/new/bg4.png") center top no-repeat;
  background-size: cover;
}
.cssPage > div.cssActionContent > div {
  margin-left: auto;
  margin-right: auto;
}
.cssPage > div.cssActionContent > div > div.cssActionContentHeader {
  display: block;
}
.cssPage > div.cssActionContent > div > div {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.cssPage > div.cssActionContent > div > div .cssDesc {
  float: left;
  width: 40%;
  line-height: 30px;
  color: #4E4545;
  font-weight: bold;
}
.cssPage > div.cssActionContent > div > div .cssDesc p {
  margin: auto auto;
}
.cssPage > div.cssActionContent > div > div .cssActionArea {
  width: 40%;
  position: absolute;
  right: 0px;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry {
  margin: auto auto;
  height: 50px;
  margin-bottom: 20px;
  background-color: #009be3;
  line-height: 50px;
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin.disabled,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry.disabled {
  color: #777777;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin:before,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry:before {
  position: relative;
  float: left;
  left: 20px;
  top: 5px;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin:hover,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry:hover {
  cursor: pointer;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin.disabled:hover,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry.disabled:hover {
  cursor: default;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin .cssLoginImg,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry .cssLoginImg,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin .cssTryImg,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry .cssTryImg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  padding-left: 35px;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin .cssLoginImg,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry .cssLoginImg {
  background: url("../image/new/common-login.png") center center no-repeat;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin .cssTryImg,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry .cssTryImg {
  background: url("../image/new/common_arrow_01.png") center center no-repeat;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin.desktop,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry.desktop {
  width: 45%;
  float: right;
  margin-left: 10px;
}
.cssPage > div.cssActionContent > div > div .cssActionArea .cssLogin.pad,
.cssPage > div.cssActionContent > div > div .cssActionArea .cssTry.pad {
  width: 90%;
  float: left;
  margin-left: 0;
}
.cssPage > div.cssActionContent > div > div .cssActionArea #backPortal2sp {
  display: none;
}
.cssPage > div.cssIntro.desktop {
  width: 1024px;
  margin: auto auto;
  padding: 30px 0;
}
.cssPage > div.cssIntro.desktop div#intro1 .introTemplateDesc-logo {
  position: relative;
  background-color: #f27020;
  height: 38px;
  width: 38px;
  float: left;
  margin-right: 30px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 3px white solid;
  box-shadow: 0 2px 5px #888888;
}
.cssPage > div.cssIntro.desktop div#intro1 .introTemplateDesc-logo > div {
  background: url("../image/new/index-desc-1-1.png") center center no-repeat;
  background-size: contain;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  position: absolute;
  width: 32px;
  left: 50%;
  margin-left: -16px;
}
.cssPage > div.cssIntro.desktop div#intro1 .introTemplateDesc-textdesc {
  overflow: hidden;
}
.cssPage > div.cssIntro.desktop div#intro1 .introTemplateDesc-text {
  color: #222;
  font-size: 20px;
}
.cssPage > div.cssIntro.desktop div#intro1 .introTemplateDesc-desc {
  color: black;
  font-size: 12px;
  margin: 20px 0;
}
.cssPage > div.cssIntro.desktop div#intro1 .introTemplateImg {
  background: url("../image/new/index-desc-1-2.png") center center no-repeat;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin-top: 30px;
}
.cssPage > div.cssIntro.desktop div#intro2 .introTemplateDesc-logo {
  position: relative;
  background-color: #ab218e;
  height: 38px;
  width: 38px;
  float: left;
  margin-right: 30px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 3px white solid;
  box-shadow: 0 2px 5px #888888;
}
.cssPage > div.cssIntro.desktop div#intro2 .introTemplateDesc-logo > div {
  background: url("../image/new/index-desc-2-1.png") center center no-repeat;
  background-size: contain;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  position: absolute;
  width: 32px;
  left: 50%;
  margin-left: -16px;
}
.cssPage > div.cssIntro.desktop div#intro2 .introTemplateDesc-textdesc {
  overflow: hidden;
}
.cssPage > div.cssIntro.desktop div#intro2 .introTemplateDesc-text {
  color: #222;
  font-size: 20px;
}
.cssPage > div.cssIntro.desktop div#intro2 .introTemplateDesc-desc {
  color: black;
  font-size: 12px;
  margin: 20px 0;
}
.cssPage > div.cssIntro.desktop div#intro2 .introTemplateImg {
  background: url("../image/new/index-desc-2-2.png") center center no-repeat;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin-top: 30px;
}
.cssPage > div.cssIntro.desktop div#intro3 .introTemplateDesc-logo {
  position: relative;
  background-color: #007cc0;
  height: 38px;
  width: 38px;
  float: left;
  margin-right: 30px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 3px white solid;
  box-shadow: 0 2px 5px #888888;
}
.cssPage > div.cssIntro.desktop div#intro3 .introTemplateDesc-logo > div {
  background: url("../image/new/index-desc-3-1.png") center center no-repeat;
  background-size: contain;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  position: absolute;
  width: 32px;
  left: 50%;
  margin-left: -16px;
}
.cssPage > div.cssIntro.desktop div#intro3 .introTemplateDesc-textdesc {
  overflow: hidden;
}
.cssPage > div.cssIntro.desktop div#intro3 .introTemplateDesc-text {
  color: #222;
  font-size: 20px;
}
.cssPage > div.cssIntro.desktop div#intro3 .introTemplateDesc-desc {
  color: black;
  font-size: 12px;
  margin: 20px 0;
}
.cssPage > div.cssIntro.desktop div#intro3 .introTemplateImg {
  background: url("../image/new/index-desc-3-2.png") center center no-repeat;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin-top: 30px;
}
.cssPage > div.cssIntro.desktop div#intro4 .introTemplateDesc-logo {
  position: relative;
  background-color: #003283;
  height: 38px;
  width: 38px;
  float: left;
  margin-right: 30px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 3px white solid;
  box-shadow: 0 2px 5px #888888;
}
.cssPage > div.cssIntro.desktop div#intro4 .introTemplateDesc-logo > div {
  background: url("../image/new/index-desc-4-1.png") center center no-repeat;
  background-size: contain;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  position: absolute;
  width: 32px;
  left: 50%;
  margin-left: -16px;
}
.cssPage > div.cssIntro.desktop div#intro4 .introTemplateDesc-textdesc {
  overflow: hidden;
}
.cssPage > div.cssIntro.desktop div#intro4 .introTemplateDesc-text {
  color: #222;
  font-size: 20px;
}
.cssPage > div.cssIntro.desktop div#intro4 .introTemplateDesc-desc {
  color: black;
  font-size: 12px;
  margin: 20px 0;
}
.cssPage > div.cssIntro.desktop div#intro4 .introTemplateImg {
  background: url("../image/new/index-desc-4-2.png") center center no-repeat;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin-top: 30px;
}
.cssPage > div.cssIntro.desktop div#intro5 .introTemplateDesc-logo {
  position: relative;
  background-color: #279b59;
  height: 38px;
  width: 38px;
  float: left;
  margin-right: 30px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 3px white solid;
  box-shadow: 0 2px 5px #888888;
}
.cssPage > div.cssIntro.desktop div#intro5 .introTemplateDesc-logo > div {
  background: url("../image/new/index-desc-5-1.png") center center no-repeat;
  background-size: contain;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  position: absolute;
  width: 32px;
  left: 50%;
  margin-left: -16px;
}
.cssPage > div.cssIntro.desktop div#intro5 .introTemplateDesc-textdesc {
  overflow: hidden;
}
.cssPage > div.cssIntro.desktop div#intro5 .introTemplateDesc-text {
  color: #222;
  font-size: 20px;
}
.cssPage > div.cssIntro.desktop div#intro5 .introTemplateDesc-desc {
  color: black;
  font-size: 12px;
  margin: 20px 0;
}
.cssPage > div.cssIntro.desktop div#intro5 .introTemplateImg {
  background: url("../image/new/index-desc-5-2.png") center center no-repeat;
  width: 100%;
  height: 400px;
  background-size: contain;
  margin-top: 30px;
}
.cssPage.pad,
.cssPage.phone {
  min-width: 100px;
  /*head*/
}
.cssPage.pad > .cssheader,
.cssPage.phone > .cssheader {
  display: block;
  background-color: #F2F2F2;
  height: 48px;
  width: 100%;
  position: absolute;
  border-top: 5px solid #009de0;
}
.cssPage.pad > .cssheader.desktop,
.cssPage.phone > .cssheader.desktop {
  min-width: 1024px;
}
.cssPage.pad > .cssheader .cssTitle,
.cssPage.phone > .cssheader .cssTitle {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
}
.cssPage.pad > .cssheader .cssTitle span,
.cssPage.phone > .cssheader .cssTitle span {
  color: #33b7ff;
}
.cssPage.pad > .cssheader.phone,
.cssPage.phone > .cssheader.phone {
  height: 40px;
  border-top-width: 2px;
}
.cssPage.pad > .cssheader.phone .cssTitle,
.cssPage.phone > .cssheader.phone .cssTitle {
  height: 40px;
  line-height: 40px;
}
.cssPage.pad > div.cssActionContent,
.cssPage.phone > div.cssActionContent {
  height: 100%;
}
.cssPage.pad > div.cssActionContent > div,
.cssPage.phone > div.cssActionContent > div {
  height: 100%;
}
.cssPage.pad > div.cssActionContent > div > div.cssActionContentHeader,
.cssPage.phone > div.cssActionContent > div > div.cssActionContentHeader {
  display: block;
}
.cssPage.pad > div.cssActionContent > div > div,
.cssPage.phone > div.cssActionContent > div > div {
  width: 66%;
  padding-top: 250px;
}
.cssPage.pad > div.cssActionContent > div > div.phone,
.cssPage.phone > div.cssActionContent > div > div.phone {
  width: 80%;
  padding-top: 150px;
}
.cssPage.pad > div.cssActionContent > div > div .cssDesc.phone,
.cssPage.phone > div.cssActionContent > div > div .cssDesc.phone {
  display: none;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea {
  float: right;
  width: 50%;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea.phone,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea.phone {
  width: 100%;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea .cssLogin,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea .cssLogin,
.cssPage.pad > div.cssActionContent > div > div .cssActionArea .cssTry,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea .cssTry {
  max-width: 10000px;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea .cssLogin.phone,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea .cssLogin.phone,
.cssPage.pad > div.cssActionContent > div > div .cssActionArea .cssTry.phone,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea .cssTry.phone {
  width: 100%;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea #backPortal2sp,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea #backPortal2sp {
  max-width: 10000px;
  display: block;
  width: 100%;
  clear: both;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea #backPortal2sp:hover,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea #backPortal2sp:hover {
  cursor: pointer;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea #backPortal2sp .backPortal2spImg,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea #backPortal2sp .backPortal2spImg {
  background: url("../image/new/common-leftArrow.png") center center no-repeat;
  height: 40px;
  float: left;
  width: 10px;
  background-size: contain;
  display: inline-block;
  margin-right: 10px;
}
.cssPage.pad > div.cssActionContent > div > div .cssActionArea #backPortal2sp .backPortal2spText,
.cssPage.phone > div.cssActionContent > div > div .cssActionArea #backPortal2sp .backPortal2spText {
  color: #009be3;
  float: left;
  width: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
.cssPage.pad > div.cssIntro,
.cssPage.phone > div.cssIntro {
  display: none;
}
