@import url(common.css);

#regionDiv{
	margin:10px;
}
#region_des{
	padding:45px 0;
	color:#7F7F7F;
	font-size:25px;
	float:left;
}
.regionContainer{
	position:relative;
	clear:both;
	height:500px;
}
#left-area {
	width: 30%;
	position:absolute;
	top:0;
	left:0;
}
#center-area {
	width: 40%;
	position:absolute;
	top:0;
	left:30%;
}
#right-area {
	width: 30%;
	position:absolute;
	top:0;
	left:70%;
}
.region-group {	
	height: 100%;
	align: center;	
	height:auto;
}
.region-group >div {
	padding: 20px;
}
.area-group-title {
	font-size: 20px;
	font-weight:bold;
	margin-bottom: 15px;	
}

.area-group-title ~div {
	line-height: 250%;	
	cursor: pointer;
	color:#3395d4;
	height:40px;
	font-size:14px;
}
.region-group a:hover{
	font-size:16px;
	font-weight:bold;
}
.region-group a:active{
	font-size:16px;
	font-weight:bold;
}

.paraLogo	
{
	width: 80px;
	height: 80px;
	-moz-border-radius: 40px; 
    -webkit-border-radius: 40px; 
    border-radius:40px;
    float:left;
    margin:20px;
}
#solutionCenterLogo
{
    height:80px;
    width:80px;
	background: url('../image/world.png') center center no-repeat;
}

.color_01{	
	background-color:#ff7a4d;	
}

h3{
	font-size:20px;
	margin:0;
	margin-left:20px;
    -webkit-padding-start: 0;
}
ul{
	margin: 0;
	list-style-type: none;
	-webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
    -webkit-padding-start: 0;

}

li{
	display: list-item;
	color:#3395d4;
	text-align: -webkit-match-parent;
	height:42px;
	line-height:40px;
	border:1px solid #ddd;
	border-width:0 0 1px 0;
	font-size:14px;
	padding:0 20px;
	cursor:pointer;
}
li:hover{
	background:#f4f4f4;
	font-size:16px;
	font-weight:bold;
}
li:active{
	background:#f4f4f4;
	font-size:16px;
	font-weight:bold;
}
#phonePageRegion{
	background:url(../image/bg.png) left top repeat;	
	height:auto;
}


@media screen and (min-width:960px) {
	#phonePageContainer{
		display:none;
	}
}

@media screen and (max-width:1024px) and (min-width: 481px)  {
	#phonePageContainer{
		display:none;
	}
	.headerContainer{
        display:none;
    }
    #phoneHeader{
        display:block;
        position:fixed;
        top:0;
        width:100%;
        background:#333;
        z-index:1000;
    }
    .phoneTitle{
        position:absolute;
        color:#fff;
        font-size:20px;
        text-align:center;
        width:100%;
    }
    #pageContainer{
        margin-top:60px;
    }
    .titlePanel{
        display:none;
    }
}
@media screen and (max-width: 480px) {
    .headerContainer{
        display:none;
    }
    #phoneHeader{
        display:block;
        position:fixed;
        top:0;
        width:100%;
        background:#333;
        z-index:1000;
    }
    .phoneTitle{
        position:absolute;
        color:#fff;
        font-size:20px;
        text-align:center;
        width:100%;
    }
    #pageContainer{
        margin-top:60px;
    }
    .titlePanel{
        display:none;
    }

	#webPageContainer{
		display:none;
	}

	#phonePageRegion{
	    margin-top:50px;
	}
	
	#phone-region-select{
		display:none !important;
	}
}


