@import url(common.css);



/*button(link) panel*/
#header-bg-container{
	width: 100%;
	height: 250px;
	background: url("../image/header_bg.jpg") center top no-repeat;
	background-size: 100%;
}

#link_wrap 
{
	width:1000px;
	margin:70px auto;	
}
#link-description{
	width: 45%;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding:0 80px;
	color:grey;
	display:inline-block;
	vertical-align: middle;
}
#btnContainer{
	height: 100%;
	width: 50%;
	margin:0 auto;
	display:inline-block;
	vertical-align: middle;
}
#btnContainer div{	
	width: 50%;	
	float:left;	
}
#btnContainer .btnMain{
	width: 200px;
	padding-left: 10px;	
	height:60px;	
}
#btnLogin{
	background-image: url("../image/login.png");
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-size: 22px 22px;	
}
#btnTrial{
	background-image: url("../image/try_it_now.png");
	background-position: 5% 50%;
	background-repeat: no-repeat;	
	background-size: 22px 22px;	
}
/*description panel*/
#pageContainer {
	width: 1000px;
	margin:0 auto;
	margin-bottom:50px;
	padding-top:50px;
}
#bodywrap{
	margin:0 auto;
}
#smallSolutionCenterLogo
{
	background: url('../image/HowToSubscribeLogo.png') center center no-repeat;
}
#successStoriesLogo
{
    background: url('../image/SuccessStoriesLogo.png') center center no-repeat;
}
#mobileAnywhereLogo
{
    background: url('../image/MobileAnywhereLogo.png') center center no-repeat;
}
#view360Logo
{
   background: url('../image/view360Logo.png') center center no-repeat;
}
#lightnessLogo
{
    background: url('../image/funLogo.png') center center no-repeat;
}
#socialLogo
{
    background: url('../image/socialLogo.png') center center no-repeat;
}
#extensibilityLogo
{
    background: url('../image/extensibilityLogo.png') center center no-repeat;
}
#gettingPricingLogo
{
    background: url('../image/GettingPricingLogo.png') center center no-repeat;
}
#description {
	color: #444;
	font-size: 12px;
}
#description .description-logo{
	height:80px;
    width:80px;
}
#appleLogo
{   
    width:40px;
    height:40px;
    background:url("../image/apple_logo.png") center center no-repeat;
    position:absolute;
    left:5px;
    top:0;    
}
#androidLogo
{   
    width:40px;
    height:40px;
    background:url("../image/android_logo.png") center center no-repeat;
    position:absolute;
    left:5px;
    top:0;   
}
.link
{
    display:block;	
    }

.link>a
{
	color:#aaa;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	margin-right:20px;
	cursor: pointer;
}
.paraLogo
{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius:40px;
	-moz-border-radius: 40px; 
    -webkit-border-radius: 40px; 
    -o-border-radius: 40px;
    -ms-border-radius: 40px;    
}

.paragraph{		
	width:32%;
	min-width:310px;
	display:inline-block;
	vertical-align:top;
}

.paragraph > div {
	margin:20px 0;
}
.paraTitle {
	font-size:18px;	
	margin-left:5px;
	text-align:center;
}
.separator{
	background:url("../image/headerShadow.png") center top no-repeat;
	background-size:contain;
	width:100%;
	height:18px;	
}
.samplePicContainer{		
	width:67%;	
	height:auto;
}
.samplePic_01{
	background:url("../image/section1.png") center top no-repeat;
	background-size:contain;
	height:400px;
}
.samplePic_02{
	background:url("../image/section2.png") center top no-repeat;
	background-size:contain;
	height:400px;
}
.samplePic_03{
	background:url("../image/section3.png") left top no-repeat;
	background-size:contain;
	height:400px;
}
.samplePic_04{
	background:url("../image/section4.png") right top no-repeat;
	background-size:contain;
	height:400px;
}
.samplePic_05{
	background:url("../image/section5.png") left top no-repeat;
	background-size:contain;
	height:400px;
}
#footer-bg-container{
	width: 100%;
	height: 150px;
	background: url("../image/header_bg.jpg") center top no-repeat;
	background-size: 100%;
}
#footer_link_wrap 
{
	width:1000px;
	margin:15px auto;	
}
#footerBtnContainer>div{
	margin:0 auto;
	width: 200px;	
	}
#footerBtnContainer>div>button{
	width: 100%;	
}
#footer-link-description{
	text-align:center;
	height:32px;
	line-height:32px;
	text-shadow: 0px -1px 0px rgba(255,255,255,0.9);
}
footer{
	height: 80px;
	position:relative;
	width:100%;
}
#footer div{
	float:left;
	margin:0px 20px 0px 0px;
}

#page{
    background:#fff;
}
/* device differences */
/* pad */
/* @media screen and (max-width:1024px) and (min-width: 481px)  
{ */
    #page.pad{
        background-position:center 250px;
    }
    #pageContainer.pad {
		display:none;
	}
		
    .header.pad {
    	background: #fff;	
		height:auto;
		width:auto;
		padding: 50px 0;
	}
	#header-bg-container.pad{
		background: none;
	}	
	#footerLinkContainer.pad{
	    display:none;
	}
	#link_wrap.pad {
	    width:500px;
	    margin: 0 auto;		
		font-size: 14px;		
	}	
	#link-description.pad{
		width: 100%;
		display: block;
		padding:40px 20px;
	}	
	
	#btnContainer.pad{
	   width: 100%;
	}
	#btnContainer button.pad{
		display: block;
	}
	#hr-separator.pad{
		display: none;
	}
	.headerContainer.pad
	{
	   display:block;
	   background:none;
	}
	
	#headerTitle.pad
	{
	    float:none;
	    font-size:24px;    
	    line-height:80px;
	    height: 80px;
		color:#000;
	    margin:0 auto;
	    text-align: center;
	}	

/* mobile */
/* @media screen and (max-width: 480px) 
{
    #page{
        background-position:center 250px;
    }
    #pageContainer {
		display:none;
	}
	#header-bg-container{
		background: none;
	}	
	#footerLinkContainer{
	    display:none;
	}	
	.header {
    	background: #fff;	
		height:auto;
		width:auto;
		padding: 50px 0 20px;
	}
	
	#headerTitle
	{
	    float:none;
	    font-size:24px;    
	    line-height:80px;
	    height: 80px;
		color:#000;
	    margin:0 auto;
	    text-align: center;
	}
	
	#link_wrap {
	    width:100%;
	    margin: 0 auto;	
		bottom:0;
		font-size: 14px;
		background:url(../image/bg.png) left top repeat;
	}
	#link-description{
		display: none;
	}
	#btnContainer{
	    width:100%;
	    margin:20px auto;
	    height:auto;
	    vertical-align:middle; 
	}
	#btnContainer>div{
		width: 100%;
		height: 70px;
		float: left;
	}
	
	#btnContainer .btnMain{
		display: block;
		width: 75%;
	}
	#hr-separator{
		display: none;
	}
	.headerContainer
	{
	   display:block;
	   background:none;
	}
	#sap-log-panel{
		z-index: -1;
	}
	
} */


