@import url(common.css);

#linkContainer.pad {
	display:none;
}

.titleIcon {
	background-image: url('../image/lockicon.png');
}

#successInfo {
	margin-top:20px;		
	text-align:center;
}
#success-icon
{
	height: 32px;
	background: url('../image/success-icon.png') center center no-repeat;	
}
#successInfo >div {
	line-height:50px;
}
#successInfo label {	
	font-size: 22px;
	color:black;
	font-style: bold;
}
#successInfo a {
	color:#09C;	
}
#loginBtn {
	left: 42%; 
}

/* @media screen and (max-width:1024px) and (min-width: 481px) { */
    .headerContainer.pad, .headerContainer.phone{
        display:none;
    }
    .titlePanel.pad, .titlePanel.phone{
        display:none;
    }
/* } */
/* @media screen and (max-width: 480px) 
{
    .headerContainer{
        display:none;
    }
    .titlePanel{
        display:none;
    }
	
	#loginBtn {
	  left: 2%; 
	}
} */
