@import url(common.css);

#email {
	color : black;
}

#linkContainer.pad, #linkContainer.phone {
	display:none;
}


#btnNextWrapper {
	padding-top: 15px;
}

.noBtnWrapper.pad, .noBtnWrapper.phone{
	display:none;
}

#resetForm {
margin:0px 20px;
position: relative;
}

/* @media screen and (max-width:1024px) and (min-width: 481px) { */
	.headerContainer.pad, .headerContainer.phone{
        display:none;
    }  
    
/* } */
/* @media screen and (max-width: 480px) 
{
	.headerContainer{
        display:none;
    }
    #phoneHeader{
        display:block;
        position:fixed;
        top:0;
        width:100%;
        z-index:1000;
    }
    .phoneTitle{
        position:absolute;
        color:#fff;
        font-size:20px;
        text-align:center;
        width:100%;
    } 
}
 */