@import url('common.css');



#imageDiv{
	height: 60px;
}
#submitDiv{
	width: 80%;
	margin:0 auto;
	color: white;
}
#submitButton{
	width: 100%;
	height: 100%;
	color: white;
}
#trialForm{
	margin-top: 20px;
	margin-bottom: 20px;
}
#captchaImage{
	width: 98%;
	height: 50px;
}
.labelDiv input{
	width: 98%;
}
/* Below style apply to trial in progress  */
#process-header{
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-width: 500px;
	text-align:middle;
}

#process-icon{		
	width: 80px;
	height: 80px;
	border-radius: 40px;	
	margin:0 auto;
	border: 1px solid #60bf33;
}
#process-image{
	background: url("../image/success-icon.png") center center no-repeat;
	background-size: 48px 48px;	
	width: 100%;
	height: 100%;	
}
#process-title{
	height: 100%;
	line-height: 80px;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 28px;
}
#process-separator{
	display: none;
	clear:both;
}
#progressWrap{ 
	 width:100%;
    max-width:600px;
	height: auto;
	margin:20px auto;	
	margin-top:60px;
	padding:20px 0;
	border: 1px solid #aaa;
	border-left-width: 0PX;
	border-right-width: 0px;	
	background-color: #fff;
	filter: alpha(opacity=90); 
	-moz-opacity:0.9;
    opacity: 0.9;
}
#progressDiv {
	width: 85%;
	max-width: 500px;
	margin: 0 auto;
}
#progressDiv div:first-child {
	clear: both;
}
.meter {
	height: 16px; 
	position: relative;
	background: #f2f2f2;
	border:1px solid #aaa;
	-moz-border-radius: 9px; 
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
    -webkit-border-radius: 9px; 
    border-radius:9px;
    margin:5px 0;
    position:relative;
    padding:1px;
}
.meter > span {
	display: block;
	height: 16px;
	margin:0px;	
	position: relative; 
	overflow: hidden;
	-moz-border-radius: 7px; 
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
    -webkit-border-radius: 7px; 
    border-radius:7px;
    background-color: #009aee;
}
.meter > div{
	position:absolute;
	top:0;
	width:100%;
	text-align:center;	
	font-size:14px;
	font-weight:bold;
	line-height: 18px;
}
.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			z-index: 1;
			overflow: hidden;
}
		
.animate > span:after {
			display: none;
		}

#progressValue{
}

#bueIcon {
	background-image: url('../image/bue.png');
	background-position: left center;
	background-repeat: no-repeat;
	height: 80px;
	line-height: 80px;
	font-size: 26px;
	font-weight: bold;
	color: gray;
}
#bueIcon >span {
	margin-left: 50px;
}

#proGif{
	background-position: center center;
	margin-left:40px;
	margin-right:80px;
	height: 60px;
	line-height: 60px;
	background-image: url('../image/progress.png');
	background-repeat: no-repeat;
}
#startBtnWrap{
	width: 85%;
	height: 50px;
	max-width: 200px;
	margin:0 auto;
	margin-top: 20px;
}
#getStartButton{	
	width: 100%;
	height: 100%;
	color: white;
}

.loadImg{
	background-position: 15px center;
	background-image: url('../image/loading_detail.gif');
	background-repeat: no-repeat;
	cursor: wait;
}


#claim {
 	color: #009aee;
	font-weight: bold; 	
}

#claim:hover {
	color: #007dc1;;
	cursor:pointer;
	/* font-size: 14px; */
}
	
#mask{
	z-index: 1000;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(243, 235, 235, 0.56);
	-webkit-overflow-scrolling:touch; overflow: auto;
}

#maskBoard {
	margin: 0 auto;
width: 80%;
max-width: 600px;

position: relative;
top: 175px;
padding: 20px;

border: 1px solid #aaa;
border-top: 4px solid #009aee;

background-color: rgba(255, 255, 255, 1);


}

#maskTitle{
font-size: 26px;
font-weight: bold;
margin-bottom: 10px;
}

#maskDescWrapper {
	-webkit-overflow-scrolling:touch; overflow: auto; width:100%; height: 400px;
}

#maskDesc{
padding: 10px;
width: 100%;
height: 90%;
overflow-y: auto;
border: 1px solid #aaa;
width: 96%;

}


 

#maskCloseBtn{
	background: url("../image/close.png") center center no-repeat;	
	width: 60px;
	height: 60px;	
	position: absolute;
	right: 5px;
	top: 5px;	
}


#maskDesc {
font-size: 16px;	
}

#maskAcceptBtn {
	
	margin-top: 25px;
width: 50%;
height: 50px;
line-height: 50px;
}


/* @media screen and (max-width:1024px) and (min-width: 481px) { */
	/* header style */
	.headerContainer.pad, .headerContainer.phone{
        display:none;
    } 
    #process-separator.pad, #process-separator.phone{
    	display: block;
    	width: 100%;    	
    }
    
    #maskBoard.phone {
     top:10px;
    } 
    
    #maskAcceptBtn.phone {
     width: 90%;
     margin-top: 5px;
    } 
    
	#maskDesc.phone  {
		padding: 0px;
		height: 98%;
	}
	
	#progressWrap.phone, #progressWrap.pad{
	  width: 94%;
	  background: none;
	  border: none;
	}


