<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="./js/jquery-183.js" type="text/javascript">
$(document).ready(function() {
	alert( "1" );
    $("#loginButton").click(function( event ) {
		alert( "test Login!" );
    });
 
});
</script>

<title>welcome to Aristotle team UDF demo</title>
</head>
<body>

<h1>Welcome to Aristotle team UDF demo</h1>
<h2 class="page-title">Please enter you user name and password to login</h2>

<label>User Name:</label>
<input type="text" id="username"/><p></p>
<label>Password:</label>
<input type="text" id="password"/><p></p>
<input type="button" id="loginButton" value="Login" />
<script type="text/javascript">

</script>



</body>


</html>